body {
    font-family: 'Cabin', sans-serif;
}

.page-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
}

.topHeader {
    margin: 0px 40px;
}

.appCont {
    margin-top: 60px;
}

.inputCont {
    margin-top: 60px;
}

.loginCont {
    margin-top: 60px;
}

.delBtn {
    float: right;
    color: white;
}

.spinner {
    position: relative;
    display: none;
    float: right;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.spinnerShow {
    position: relative;
    display: unset;
    float: right;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.spinner-sector {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 12px solid transparent;
}

.spinner-color-green {
    animation: rotate .24s linear infinite;
    border-top: 15px solid #ecff1f;
}

.spinner-color-grey {
    border: 14px solid #546e7a;
}

.splashCont {
    margin-top: 60px;
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
    .topHeader {
        width: 55%;
    }
    .spinnerShow {
        display: none;
    }
    .spinner {
        display: none;
    }
}

@media only screen and (max-width: 1350px) {
    .spinnerShow {
        display: none;
    }
    .spinner {
        display: none;
    }
}