body {
    font-family: 'Cabin', sans-serif;
}

.page-footer {
    position: fixed;
    bottom: 0;
    display: block;
}

.topHeader {
    margin: 0px 40px;
}

.appCont {
    margin-top: 60px;
}

.inputCont {
    margin-top: 40px;
}

.listCont {
    background: #546e7a;
    color: #ffffff;
}

.loginCont {
    margin-top: 60px;
}